.poppins-thin {
    font-family: "Poppins", system-ui;
    font-weight: 100;
}
body{
    font-family: "Poppins", system-ui; 
    margin: 0px;
}
h1{
    font-size: 50px;
}
.hightlight{
    color: orange;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half img{
    width: 100%;
    padding-top: 5%;
}

/* Background banner set. */
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato );
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700px;
}
.button:hover{
    background-color: tomato;
    font-weight: bold;
}
p{
    color: dimgray;
}
h2{
    font-size: 40px;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#journey{
    margin-left: 2%;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 70%;
    padding: 1%;
    background-color: white;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#exp{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,rgb(219, 62, 35));
    border-image-slice: 1;
}
#ach{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}